/*** Journal Item Basic Layout ***/

.journal .item {
    overflow: auto;
}

.journal .item .item-wrapper {
    float: left;
    width: 100%;
}

.journal .item .links {
    margin: 0 300px 0 110px;
}

.journal .item .item-content {
    margin: 0 300px 0 90px;
}

.journal .item .timestamp {
    float: left;
    margin-left: -100%;
    width: 90px;
}

.journal .item .info1 {
    float: left;
    width: 150px;
    margin-left: -300px;
}

.journal .item .info2 {
    float: left;
    width: 150px;
    margin-left: -150px;
}

.journal .item .info3 {
    float: left;
    width: 300px;
    margin-left: -300px;
}

.journal .item .item-content p,
.journal .item .timestamp p,
.journal .item .info1 p,
.journal .item .info2 p,
.journal .item .info3 p {
    margin-top: 0;
}

/*** Journal Timer Style ***/

.timer .item-content,
.timer .timestamp,
.timer .info1,
.timer .info2,
.timer .info3 {
    background-color: #333;
    color: #ccc;
}

.timer.stop .nested-start {
    font-style: italic;
}

.timer .links {
    background-color: #ccc;
}

.timer .info1 p,
.timer .info2 p,
.timer .info3 p {
    margin-bottom: 0;
    text-align: center;
}

.timer {
    background-color: #eee;
}

/*** Journal Comment Style ***/

.free-comment {
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}

.timer-comment {
    background-color: #eee;
}

/*** Journal Icons ***/

.icon {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-attachment: 1px 1px;
    background-image: url(/images/icons/shading.png);
}

.icon.only {
    display: block;
    overflow: hidden;
    padding-left: 18px;
    width: 0;
    float: right;
}

.icon.comment {
    background-image: url(/images/icons/comment.png);
}

.icon.clock_play {
    background-image: url(/images/icons/clock_play.png);
}

.icon.clock_stop {
    background-image: url(/images/icons/clock_stop.png);
}

.icon.lightbulb {
    background-image: url(/images/icons/lightbulb.png);
}

.icon.folder_lightbulb {
    background-image: url(/images/icons/folder_lightbulb.png);
}

.icon.briefcase {
    background-image: url(/images/icons/briefcase.png);
}

.icon.tick {
    background-image: url(/images/icons/tick.png);
}

.icon.add {
    background-image: url(/images/icons/add.png);
}

.icon.pencil {
    background-image: url(/images/icons/pencil.png);
}

.icon.time {
    background-image: url(/images/icons/time.png);
}

.icon.link {
    background-image: url(/images/icons/link.png);
}

.icon.clock_edit {
    background-image: url(/images/icons/clock_edit.png);
}
 
.icon.clock {
    background-image: url(/images/icons/clock.png);
}
 
.icon.door_open {
    background-image: url(/images/icons/door_open.png);
}
 
.icon.accept {
    background-image: url(/images/icons/accept.png);
}
 
.icon.delete {
    background-image: url(/images/icons/delete.png);
}

span.preamble.icon {
    padding-left: 0;
    background-image: none;
}

