body {
    font-family: Optima;
    color: #333;
    margin: 0;
    padding: 0;
}

pre {
    overflow: auto;
}

#salutation {
    position: absolute;
    right: 1em;
    z-index: 100;
    color: #333;
}

div#navigation {
    width: 100%;
    height: auto;
}

div#navigation ul {
    width: 100%;
    height: 11px;
}

div#navigation ul.menu a:link,
div#navigation ul.menu a:visited,
div#navigation ul.menu a:hover {
    background-color: #aaa;
    color: #333;
    border-bottom-color: #333;
    margin-left: 5px;
    padding: 1px 25px 3px 25px;
    text-transform: lowercase;
}

div#navigation ul.menu a:hover {
    background-color: #ccc;
    color: #444;
}

div#navigation ul.menu li.active a:link,
div#navigation ul.menu li.active a:visited,
div#navigation ul.menu li.active a:hover {
    background-color: #ccc;
    color: #444;
    border-bottom-color: transparent;
}

ul.menu {
    background-color: #fff;
    border-bottom: 1px solid #333;
}

#content h1 {
    margin-left: 10px;
    margin-right: 10px;
}

#content h1.title {
    margin: 0 0 5px 0;
    padding: 0 10px;
    background-color: #ccc;
}

div#jGrowl.jGrowl.top-right {
    top: 80px;
}

div#jifty-wait-message {
    background: #ccc url(/images/candy-cane.gif) no-repeat scroll center center;
    height: 19px;
    width: 220px;
    top: 28px;
    left: 200px;
    text-indent: 250px;
    overflow: hidden;
}

/*** Shared Icon Classes ***/

.icon {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    background-image: url(/images/icons/shading.png);
}

.icon.only {
    display: block;
    overflow: hidden;
    padding-left: 18px;
    width: 0;
    float: right;
}

