/*** Standard Icon Classes ***/

.icon {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    /* background-image: url(/images/icons/shading.png); */
}

input.button.icon {
    padding: 1px 11px 1px 29px;
    background-position: 11px 1px;
}

.icon.left, .icon.top-left   { background-position: 1px 1px }
.icon.center-left            { background-position: 1px 50% }
.icon.right, .icon.top-right { background-position: -1px 1px }
.icon.center-right           { background-position: -1px 50% }

input.button.icon.left, input.button.icon.top-left   { background-position: 1px 1px }
input.button.icon.center-left                        { background-position: 1px 50% }
input.button.icon.right, input.button.icon.top-right { background-position: -1px 1px }
input.button.icon.center-right                       { background-position: -1px 50% }

.icon.only {
    display: block;
    overflow: hidden;
    padding-left: 18px;
    width: 0;
    float: right;
}

h2.icon, h2.icon.left {
    background-position: 3px center;
}

/*** Icon Nouns ***/

.o-comment { background-image: url(/images/icons/balloon.png) }
.o-day     { background-image: url(/images/icons/calendar.png) }
.o-entry   { background-image: url(/images/icons/report.png) }
.o-link    { background-image: url(/images/icons/chain.png) }
.o-journal { background-image: url(/images/icons/book-open.png) }
.o-tag     { background-image: url(/images/icons/tag.png) }
.o-task    { background-image: url(/images/icons/ticket.png) }
.o-time    { background-image: url(/images/icons/clock.png) }
.o-timer   { background-image: url(/images/icons/alarm-clock.png) }
.o-user    { background-image: url(/images/icons/user.png) }

/*** Icon Adjectives ***/

.a-action        { }
.a-begin         { }
.o-timer.a-begin { background-image: url(/images/icons/alarm-clock-blue.png) }
.a-create        { background-image: url(/images/icons/plus.png) }
.a-end           { }
.a-group         { background-image: url(/images/icons/folder.png) }
.a-list          { }
.a-note          { background-image: url(/images/icons/chain.png) }
.a-open          { }
.a-project       { background-image: url(/images/icons/briefcase.png) }
.a-quit          { }
.a-update        { background-image: url(/images/icons/pencil.png) }

/* more important adjectives later */
.a-done          { background-image: url(/images/icons/tick.png) }
.a-nix           { background-image: url(/images/icons/cross.png) }

/*** Icon Verbs ***/

.v-cancel           { background-image: url(/images/icons/cross.png) }
.v-collapse         { background-image: url(/images/icons/chevron-collapse.png) }
.v-comment          { background-image: url(/images/icons/balloon--plus.png) }
.v-delete           { background-image: url(/images/icons/minus-circle-frame.png) }
.v-delete.o-comment { background-image: url(/images/icons/balloon--minus.png) }
.v-done             { background-image: url(/images/icons/tick-circle-frame.png) }
.v-edit             { background-image: url(/images/icons/pencil.png) }
.v-edit.o-comment   { background-image: url(/images/icons/balloon--pencil.png) }
.v-edit.o-entry     { background-image: url(/images/icons/report--pencil.png) }
.v-edit.o-task      { background-image: url(/images/icons/ticket--pencil.png) }
.v-edit.o-timer     { background-image: url(/images/icons/alarm-clock--pencil.png) }
.v-expand           { background-image: url(/images/icons/chevron.png) }
.v-nix              { background-image: url(/images/icons/cross-circle-frame.png) }
.v-open             { background-image: url(/images/icons/door-open.png) }
.v-post             { background-image: url(/images/icons/plus.png) }
.v-return           { background-image: url(/images/icons/arrow-180.png) }
.v-restart          { background-image: url(/images/icons/control-record.png) }
.v-save             { background-image: url(/images/icons/disk.png) }
.v-sign-in          { background-image: url(/images/icons/door-open-in.png) }
.v-sign-out         { background-image: url(/images/icons/door-open-out.png) }
.v-start            { background-image: url(/images/icons/control-record.png) }
.v-stop             { background-image: url(/images/icons/control-stop-square.png) }
.v-taskinate        { background-image: url(/images/icons/ticket--plus.png) }
.v-view             { background-image: url(/images/icons/arrow.png) }
.v-view.o-day       { background-image: url(/images/icons/calendar--arrow.png) }
.v-view.o-tag       { background-image: url(/images/icons/tag--arrow.png) }
.v-view.o-task      { background-image: url(/images/icons/ticket--arrow.png) }

/*** Icon Adverbs ***/

/*** Extra Embellishments ***/

.icon.v-view.o-tag {
    background-color: #ffd;
    color: #666;
    margin: 1px;
    padding: 1px 1px 1px 18px;
    text-decoration: none;
}

.icon.v-view.o-tag:hover {
    color: #333;
    background-color: #eeb;
}
