/*** Journal Day Form ***/

#goto_date {
    position: absolute;
    top: 25px;
    right: 15px;
}

#goto_date div.argument-date {
    float: left;
    clear: none;
}

#goto_date label.argument-date {
    width: auto;
}

#goto_date input.date {
    width: 15em;
}

#goto_date div.submit_button {
    float: left;
    clear: none;
}

#goto_date input.button {
    float: left;
    clear: none;
}

/*** Journal Entry Form ***/

.new_comment_entry {
    position: relative;
}

.new_comment_entry .inline-help {
    top: 0;
    right: 3px;
    position: absolute;
    width: 280px;
    border: 2px solid #333;
    border-left: 1px solid #666;
    border-top: 1px solid #666;
    font-size: 0.8em;
    background-color: #ffc;
}

.new_comment_entry .inline-help h3 {
    font-size: 1em;
    margin: 0;
    padding: 0 3px;
    background-color: #333;
    color: #ffc;
}

.new_comment_entry .inline-help ul {
    padding: 0 0 0 20px;
    margin: 0;
}

.new_comment_entry div.argument-task_entry {
    margin: 0 300px 0 110px;
}

.new_comment_entry div.argument-task_entry label.argument-task_entry {
    margin: 0;
    padding: 3px 3px 0 0;
    width: auto;
}

.new_comment_entry input.argument-task_entry {
    font-family: Optima;
    width: 30%;
}

.new_comment_entry div.argument-comment {
    margin: 0 300px 0 90px;
    padding-top: 0;
    padding-left: 20px;
    background-image: url(/images/icons/comment_add.png);
    background-repeat: no-repeat;
    background-position: 1px 1px;
}

.new_comment_entry label.argument-comment {
    display: none;
}

.new_comment_entry textarea.argument-comment {
    width: 100%;
    font-family: Optima;
    height: 5em;
    min-height: 5em;
}

input.new_comment_entry_submit {
    position: absolute;
    right: 300px;
    top: 0px;
}

/*** Journal Item Basic Layout ***/

.journal .item {
    overflow: auto;
}

.journal .item .item-wrapper {
    float: left;
    width: 100%;
}

.journal .item .links {
    margin: 0 300px 0 110px;
}

.journal .item .item-content {
    margin: 0 300px 0 90px;
}

.journal .item .timestamp {
    float: left;
    margin-left: -100%;
    width: 90px;
}

.journal .item .info1 {
    float: left;
    width: 150px;
    margin-left: -300px;
}

.journal .item .info2 {
    float: left;
    width: 150px;
    margin-left: -150px;
}

.journal .item .info3 {
    float: left;
    width: 300px;
    margin-left: -300px;
}

.journal .item .item-content p,
.journal .item .timestamp p,
.journal .item .info1 p,
.journal .item .info2 p,
.journal .item .info3 p {
    margin-top: 0;
}

/*** Journal Timer Style ***/

.timer .item-content,
.timer .timestamp,
.timer .info1,
.timer .info2,
.timer .info3 {
    background-color: #333;
    color: #ccc;
}

.timer.stop .nested-start {
    font-style: italic;
}

.timer .links {
    background-color: #ccc;
}

.timer .info1 p,
.timer .info2 p,
.timer .info3 p {
    margin-bottom: 0;
    text-align: center;
}

.timer {
    background-color: #eee;
}

/*** Journal Project Summary ***/

.project-summary .subject.project {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-image: url(/images/icons/briefcase.png);
}

.project-summary .subject.group {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-image: url(/images/icons/folder_lightbulb.png);
}

.project-summary .subject.action {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-image: url(/images/icons/lightbulb.png);
}


/*** Journal Comment Style ***/

.free-comment {
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}

.timer-comment {
    background-color: #eee;
}

/*** Journal Task References ***/

.task-reference.create {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    background-image: url(/images/icons/add.png);
}

.task-reference.update {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    background-image: url(/images/icons/pencil.png);
}

.task-reference.note {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    background-image: url(/images/icons/link.png);
}

.task-reference .project {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    background-image: url(/images/icons/briefcase.png);
}

.task-reference .group {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    background-image: url(/images/icons/folder_lightbulb.png);
}

.task-reference .action {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    background-image: url(/images/icons/lightbulb.png);
}

.task-reference .open {
}

.task-reference .done {
    color: #666;
    text-decoration: line-through;
    background-image: url(/images/icons/tick.png);
}

.task-reference .nix {
    color: #933;
    text-decoration: line-through;
    background-image: url(/images/icons/cross.png);
}

/*** Journal Icons ***/

.icon.comment {
    background-image: url(/images/icons/comment.png);
}

.icon.clock_play {
    background-image: url(/images/icons/clock_play.png);
}

.icon.clock_stop {
    background-image: url(/images/icons/clock_stop.png);
}

.icon.lightbulb {
    background-image: url(/images/icons/lightbulb.png);
}

.icon.folder_lightbulb {
    background-image: url(/images/icons/folder_lightbulb.png);
}

.icon.briefcase {
    background-image: url(/images/icons/briefcase.png);
}

.icon.tick {
    background-image: url(/images/icons/tick.png);
}

.icon.add {
    background-image: url(/images/icons/add.png);
}

.icon.pencil {
    background-image: url(/images/icons/pencil.png);
}

.icon.time {
    background-image: url(/images/icons/time.png);
}

.icon.link {
    background-image: url(/images/icons/link.png);
}

.icon.clock_edit {
    background-image: url(/images/icons/clock_edit.png);
}
 
.icon.clock {
    background-image: url(/images/icons/clock.png);
}
 
.icon.door_open {
    background-image: url(/images/icons/door_open.png);
}
 
.icon.accept {
    background-image: url(/images/icons/accept.png);
}
 
.icon.delete {
    background-image: url(/images/icons/delete.png);
}

.icon.book_edit {
    background-image: url(/images/icons/book_edit.png);
}

.icon.comment_edit {
    background-image: url(/images/icons/comment_edit.png);
}

span.preamble.icon {
    padding-left: 0;
    background-image: none;
}

