/*** Standard Icon Classes ***/

.icon, .icon.left {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    background-image: url(/images/icons/shading.png);
}

.icon.only {
    display: block;
    overflow: hidden;
    padding-left: 18px;
    width: 0;
    float: right;
}

h2.icon, h2.icon.left {
    background-position: 3px center;
}

/*** Icon Nouns ***/

.o-comment { background-image: url(/images/icons/balloon.png) }
.o-entry   { background-image: url(/images/icons/report.png) }
.o-link    { background-image: url(/images/icons/chain.png) }
.o-task    { background-image: url(/images/icons/ticket.png) }
.o-time    { background-image: url(/images/icons/clock.png) }
.o-timer   { background-image: url(/images/icons/alarm-clock.png) }

/*** Icon Adjectives ***/

.a-action  { }
.a-begin   { }
.a-done    { }
.a-end     { }
.a-group   { background-image: url(/images/icons/folder.png) }
.a-list    { }
.a-nix     { }
.a-open    { }
.a-project { background-image: url(/images/icons/briefcase.png) }
.a-quit    { }

/*** Icon Verbs ***/

.v-delete         { background-image: url(/images/icons/minus-circle-frame.png) }
.v-done           { background-image: url(/images/icons/tick.png) }
.v-edit           { background-image: url(/images/icons/pencil.png) }
.v-edit.o-comment { background-image: url(/images/icons/balloon--pencil.png) }
.v-edit.o-entry   { background-image: url(/images/icons/report--pencil.png) }
.v-edit.o-timer   { background-image: url(/images/icons/alarm-clock--pencil.png) }
.v-nix            { background-image: url(/images/icons/cross.png) }
.v-open           { background-image: url(/images/icons/door-open.png) }
.v-start          { background-image: url(/images/icons/control-record.png) }
.v-stop           { background-image: url(/images/icons/control-stop.png) }
.v-view           { }

/*** Icon Adverbs ***/
