body {
    font-family: Optima;
    color: #333;
    margin: 0;
    padding: 0;
}

pre {
    overflow: auto;
}

#salutation {
    position: absolute;
    right: 1em;
    z-index: 100;
    color: #ccc;
}

div#navigation {
    width: 100%;
    height: auto;
}

div#navigation ul {
    width: 100%;
}

#content h1 {
    margin-left: 10px;
    margin-right: 10px;
}

#content h1.title {
    margin: 0 0 5px 0;
    padding: 0 10px;
    background-color: #ccc;
}

/*** Shared Icon Classes ***/

.icon {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    background-image: url(/images/icons/shading.png);
}

.icon.only {
    display: block;
    overflow: hidden;
    padding-left: 18px;
    width: 0;
    float: right;
}

