.content {
    margin: 1em auto;
    max-width: 800px;
}

.content p {
    margin: 1em;
}

.content blockquote {
    margin: 1em 3em;
    padding: 1em;
    background-color: #ccc;
    border: 1px dashed #999;
}
