/*
 * General Tag Fixes
 */

body {
    font-family: Optima, URW Palladio L;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

li {
    margin-left: 2em;
    list-style-type: disc;
}

pre {
    overflow: auto;
}

/*
 * General Forms
 */

label, input.text, input.password {
    display: block;
}

div.submit {
    text-align: right;
    margin: 3px 0 0 0;
}

/*
 * Layout
 */

p#footer {
    font-size: 0.8em;
    text-align: center;
    margin: 1em 0;
}

#salutation {
    position: absolute;
    right: 1em;
    z-index: 100;
    color: #333;
}

/*
 * Masthead Content
 */

div#navigation {
    background: white;
    border-bottom: 1px solid #999;
    padding-top: 5px;
}

div#navigation li {
    margin-left: 0.5em;
    list-style-type: none;
    display: inline-block;
    border-left: 1px solid #999;
    border-right: 1px solid #666;
}

div#navigation li ul {
    display: none;
}

div #navigation li a {
    color: #333;
    background-color: #aaa;
    padding: 0 25px 0 25px;
    text-transform: lowercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

div#navigation a:hover {
    background-color: #ccc;
    color: #444;
}

div#navigation li.active a:link,
div#navigation li.active a:visited,
div#navigation li.active a:hover {
    background-color: #ccc;
    color: #444;
    border-bottom: none;
    padding-bottom: 1px;
}

div#masthead h1 {
    margin-left: 10px;
    margin-right: 10px;
}

div#masthead h1 {
    margin: 0 0 5px 0;
    padding: 0 10px;
    background-color: #ccc;
    border-bottom: 2px solid #666;
}
